/* *{
    background-color: #666ca3;
} */

.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.boton-get-started{
    background-color: #13183f;
    border-radius: 25px;
    padding: 15px;
    cursor: pointer;
}

.boton-get-started--rosado{
    background: linear-gradient(#f02aa6, #ff6f48);
    text-align: center;
    width: 100px;
}

.boton-get-started:hover{
    background-color: #666ca3;
    border-radius: 25px;
    padding: 15px;
    cursor: pointer;
}

.boton-get-started--rosado:hover{
    background-color: #ffa7c3;
    text-align: center;
    width: 100px;
}

.boton-get-started__texto{
    color: #fff;
    font-family: 'Plus Jakarta Sans', sans-serif;
}