.card-1{
    background: linear-gradient(#f02aa6, #ff6f48);
    border-radius: 13px;
    padding: 25px;
}

.card-1__texto{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
}

.card-2{
    border-radius: 13px;
    padding: 25px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    /* background-color: #dcdcdc; */
    margin: 40px 0;
    position: relative;
}

.card-2__icono{
    position: absolute;
    left: 25px;
    top: -25px;
}

.card-2__cuerpo{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.card-2__titulo{
    font-weight: bold;
    font-size: 24px;
    margin: 15px 0;
}

.card-2__descripcion{
    color: #83869a;
    margin: 15px 0;
}

.card-2__boton{
    color: #f74780;
    font-weight: bold;
    margin: 15px 0;
}

/* Tablet */
@media screen and (min-width: 576px) {
    .cuerpo{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card-1, .card-2{
        width: 250px;
        height: 180px;
    }

    .card-1{
        position: relative;
        top: 40px;
    }
}

@media screen and (min-width: 768px) {
    .cuerpo{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card-1, .card-2{
        width: 310px;
        height: 200px;
    }

    .card-1{
        position: relative;
        top: 40px;
    }
}

/* Laptop */
@media screen and (min-width: 992px) {
    /* .cuerpo{
        justify-content: center;
    } */

    .card-1, .card-2{
        width: 350px;
        height: 200px;
    }

    .cuerpo{
        margin-top: -220px;
    }

    .card-1__texto{
        font-size: 32px;
    }
}