.principal{
    display: flex;
    flex-direction: column;
}

.principal__titulo{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #13183f;
    font-size: 40px;
    font-weight: bold;
    margin: 30px 0;
}

.principal__descripcion{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #83869a;
    font-size: 18px;
    margin: 30px 0;
}

.principal__imagen{
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.principal__imagen-receptiva{
    width: 350px;
    height: auto;
}

.principal__imagen-tablet{
    display: none;
}

.principal__imagen-desktop{
    display: none;
}

/* Tablet */
@media screen and (min-width: 576px) {
    /* .principal{
        flex-direction: row;
        padding: 0 0 0 50px;
        height: 600px;
    } */

    /* .principal__texto{
        margin-top: 70px;
        width: 80%;
    } */

    .principal__imagen{
        overflow: hidden;
    }
    
    .principal__imagen-mobile{
        display: none;
    }

    .principal__imagen-tablet{
        display: block;
        /* position: relative;
        left: 120px;
        top: 0px; */
    }
}

@media screen and (min-width: 768px) {
    /* .principal{
        flex-direction: row;
        padding: 0 0 0 50px;
        height: 400px;
    } */
}
    

/* Laptop */
@media screen and (min-width: 992px) {
    /* .boton-get-started{
        background-color: blue;
    } */

    .principal{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* align-items: center; */
    }

    .principal__imagen-mobile{
        display: none;
    }

    .principal__imagen-tablet{
        display: none;
    }

    .principal__imagen-desktop{
        display: block;
        position: relative;
        top: -210px;
        left: 160px;
        height: 800px;
    }

    .principal__texto{
        margin-top: 70px;
        width: 40%;
        margin-left: 120px;
    }
    
    .principal__imagen{
        overflow: hidden;
        width: 50%;
    } 

    .principal__titulo{
        font-size: 56px;
    }

    .principal__descripcion{
        font-size: 18px;
    }
}